/* File:        style.css
 * Author:      Erik Johannes Husom
 * Description: Stylesheet for Peakbase
 */

:root {
    --main-font-color: rgb(57, 56, 56);
    --secondary-font-color: rgb(142, 142, 142);
    --tertiary-font-color: rgb(70, 70, 70);
    --button-download-color: #4caf50;
    --button-download-hover-color: white;
    --button-import-color: #3377ff;
    --button-import-hover-color: white;
    --button-bg-color: #f0f0f0;
    --button-text-color: black;
    --button-border-color: black;
    --button-hover-bg-color: #ddd;
    --button-hover-text-color: black;
    --border-radius: 0.5rem;
    --header-height: 80px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    color: var(--main-font-color);
    /* position: relative; */

    display: flex;
    flex-direction: column;
}

/*Header{{{*/
header {
    padding: 1.0em;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 75%; */
    /* float: left; */
    /* z-index: 1000; /1* To ensure header is always on top *1/ */
    /* background-color: rgba(255, 255, 255, 0.8); */
    border-bottom: 2px solid rgb(233, 233, 233);

    height: var(--header-height);
    width: 100%;
}

#title {
    display: inline-block;
}

header h1 {
    display: inline;
}

.subheading {
    color: var(--secondary-font-color);
    text-transform: lowercase;
    display:table-cell;
}
/*}}}*/

/*Nav{{{*/
nav {
    display: inline;
    padding: 1em;
}

nav a {

}

#info_symbol {
    width: 1.5em;
    vertical-align: middle;
    margin: 0.6em;
}
/*}}}*/

/*Hr (line){{{*/
hr {
  border: 0.1rem solid rgb(233, 233, 233);
}
/*}}}*/

/*Links{{{*/
a:link, a:visited {
  color:  var(--secondary-font-color);
  text-decoration: none;
}

a:hover {
  color: rgb(17, 131, 185);
}

a.ghost:link, a.ghost:visited, a.ghost:hover {
  color: var(--main-font-color);
  text-decoration: none;
}
/*}}}*/

/*Footer{{{*/
footer {
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
/*}}}*/

/* Map and edit container{{{ */
#map {
    width: 80%;
    height: 100%;
    /* float: left; */

    /* position: absolute; */
}

#editContainer {
    /* border: 1px solid; */
    /* display: block; */
    /* position: absolute; */
    /* height: calc(100% - var(--header-height)); */
    /* margin-top: var(--header-height); */
    width: 20%;
    /* float: right; */
    /* background-color: #f0f0f0;  /1* Choose a color that fits your design *1/ */
    /* padding: 10px; */

    height: 100%;
    overflow-y: auto;
}

#container {
    display: flex;
    flex: 1;
}

.peaks {
    border-radius: 50%;
    background-color: rgba(217, 83, 79, 0.9);
    text-align: center;
    vertical-align: middle;
    color: white;
}

.peaks-visited {
    border-radius: 50%;
    background-color: rgba(66, 139, 202, 0.9);
    text-align: center;
    vertical-align: middle;
}

#peakInfoContainer {
    padding: 0.5em;
    margin: 0.5em;
    background-color: white;
}

.peakInfoLabel {
    font-weight: 600;
}

.peakInfoItem {
    margin-bottom: 1em;
}

.form-popup {
    display: none;
    padding: 0.5em;
    margin: 0.5em;
    background-color: white;
}

input.block {
    display: block;
}

label {
    display: block;
}

.coordinateInfo {
    display: None;
}

#statusbar {
    /* padding-left: 0.5em; */
}

.peaksStatistics {
    margin: 0.5em 0.0em 0.0em 0.5em;
}
/* }}} */

/* Info site{{{ */
article {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.5;
    font-size: 1.25em;
}
/* }}} */

/* Buttons{{{ */
.button, .button.download, .button.import {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1em;
    padding: 0.5rem;
    margin: 0.3em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}

.button.download {
    background-color: var(--button-download-color);
}

.button.download:hover {
    background-color: var(--button-download-hover-color);
    color: var(--button-download-color);
}

.button.import {
    background-color: var(--button-import-color);
    color: white;
}

.button.import:hover {
    background-color: var(--button-import-hover-color);
    color: var(--button-import-color);
}
/* }}} */

/* Tooltips{{{ */
.tooltip {
    position: relative;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px; /* Adjust this to move the tooltip further down */
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 9999;
}

.tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}

/* }}} */

/*Tablets and mobile devices{{{*/
@media screen and (max-width: 992px) {
    body {
      /* max-width: none; */
    }
    .mapEditContainer {
        /* display: block; */
    }
    #editContainer {
    }
    #map {
      /* width: 100%; */
      /* height: 70vh; */
    }
    article {
        width: 100%;
    }
    .button {
        display: block;
    }
}
/* ======== Tablets ========= */
/* @media screen and (min-width: 481px) and (max-width: 991px) { */
/* } */
/*}}}*/

/*Laptops and large screens{{{*/
@media screen and (min-width: 992px) {
    .mapEditContainer {
        /* display: flex; */
    }
    #editContainer {
        /* flex: 1; */
    }
    #map {
        /* width: 75%; */
        /* flex: 3; */
    }
}
/*}}}*/

/* Loading spinner{{{ */
#loading-background {
    display: none;
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.4;
}

.spinner {
    display: none;
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0.2em solid #ccc;
    border-top: 0.2em solid #1d2d50;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* }}} */

/* Tutorial{{{ */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: var(--border-radius);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

img.legend {
    width: 1.0em;
    vertical-align: middle;
    margin-left: 1em;
    margin-right: 0.3em;
    /* padding-bottom: 0.3em; */
}
/* }}} */
